<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
  <div class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
      aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li *ngIf="isLoggedIn" class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink='/myprofile'>My Profile</a>
        </li>
        <li *ngIf="!(isLoggedIn)" class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink='/signup'>Sign up</a>
        </li>
        <li *ngIf="!(isLoggedIn)" class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink='/signin'>Sign in</a>
        </li>
        <li *ngIf="isLoggedIn" class="nav-item">
          <a class="nav-link" (click)="logOut()" routerLink='/logout'>Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>