<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
  <a *ngIf="isLoggedIn" class="navbar-brand" routerLink='/myprofile'>Hello, {{nickname}}</a>
  <div class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
      aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li *ngIf="isLoggedIn" routerLinkActive="active" class="nav-item dropdown bg-dark">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Movies
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLinkActive="active" routerLink='/movies'>Popular movies</a>
            <a class="dropdown-item" routerLinkActive="active" routerLink="/upcoming-movies">Upcoming movies</a>
            <a class="dropdown-item" routerLinkActive="active" routerLink="/top-rated-movies">Top rated movies</a>
            <a class="dropdown-item" routerLinkActive="active" routerLink="/now-playing-movies">Now playing movies</a>
          </div>
        </li>
        <li *ngIf="isLoggedIn" class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink='/myprofile'>My Profile</a>
        </li>
        <li *ngIf="!(isLoggedIn)" class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink='/signup'>Sign up</a>
        </li>
        <li *ngIf="!(isLoggedIn)" class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink='/signin'>Sign in</a>
        </li>
        <li *ngIf="isLoggedIn" class="nav-item">
          <a class="nav-link" (click)="logOut()" routerLink='/logout'>Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>